PORT=5000
MONGO_URI=mongodb+srv://RITIKGHODKE:rjloveru@cluster0.4nq06jf.mongodb.net/apna-market?retryWrites=true&w=majority
JWT_SECRET=apnamarket_secret_key_2025
JWT_EXPIRE=7d
REDIS_URL=redis://localhost:6379
CLOUDINARY_CLOUD_NAME=diwzho1zm
CLOUDINARY_API_KEY=697282141527979
CLOUDINARY_API_SECRET=E0hbUC1EFzd1a4NmBXGZZy6bgSQ
RAZORPAY_KEY_ID=rzp_live_SbSvjBU0POaW4a
RAZORPAY_KEY_SECRET=AbK2IXkpNcxF2X21iqk8RVb5
NODE_ENV=development